#inter2 {
    text-align: center;
    padding-top: 200px;
    display: inline-table;
    width: 500px;
    height: 600px;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    background-image: url(/venta_celulares.jpg);
    background-size: cover;

}



body {
    background-color: rgb(255, 209, 81);
}