h1 {
    color: blue(255, 38, 0, 0.856);
    text-align: center;
    text-shadow: 3px 3px 7px white;
}

h2 {
    color: white(255, 38, 0, 0.856);
    text-align: center;
    text-shadow: 3px 3px 7px blue;
}

.inter {
    padding-top: 100px;
    color: blue;
    text-shadow: 3px 3px 7px black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-image: url(/login_img.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
}